@import url(https://fonts.google.com/specimen/Sour+Gummy);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.slider
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
ul
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
ul li
{
    list-style: none;
    margin-bottom: 50px;
}
ul li input
{
    position: relative;
    z-index: 1000;
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
ul li .slide
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}